@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
}
header{
    background-color: #2074ba;
}
main{
    background: no-repeat url(../media/Ep326Seireitei.webp);
    background-color: #2074ba;
    background-position: center top;
    background-attachment: fixed;
    padding-bottom: 3em;
    margin-bottom: 2em;
}
#imgHeader, #ban{
    width:80%;
    display: flex;
    margin:auto;
}
#ban{
    width:45em;
}
nav{

    text-align: center; 
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1.5em;
    background-color: #ee1d23;
}
a{
    padding: 1em 2em 1em 2em;
    margin-bottom: 5em;
    font-size: 1.5em;
    color: rgb(37, 37, 37);
    font-weight: 800;
    text-transform: uppercase;
    text-decoration:none;

}
a:hover{
    color: #ee1d23;
    background-color: #2074ba;
}
h1{
    background-image: url(../media/cyq213rblwk81.webp);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 80vh;
    padding-top: 20vh;
    font-family: splash;
    font-size:3em;
}
section{
    width:75%;
    margin: auto;
    background-color:#2075babe;
    backdrop-filter: blur(4px);
    border-radius: 1.5em;
    box-shadow: 6px 6px 8px black;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    padding:2em;
    margin-bottom: 2em;
}
footer{
    text-align:center;
    background: linear-gradient(#2074ba, white);
    padding-top: 2em;;
}
footer img{
    display: flex;
    margin:auto;
    width:10vw;
}
article{
    display:flex;
}
article p{
    width:40%;
    margin-left:2em;
}
#fullbring{
    width:60%;
    margin-left: 1em;
    box-shadow: 2px 2px 2px black;
    border-radius: .5em;
}
#shikai{
    width:30%
}
#story{
    padding-top: 5em;
}
.return{
    margin-left: 3em;
}

