header {
    width: 100%;
    text-align: center;
    z-index: 5;
}
header .header__h1 {
    font-size: 2rem;
    padding-top: 3vh;
    text-transform: uppercase;
    text-decoration: overline underline;
    white-space: nowrap;
}
@media (max-width: 499px) {
    header .header__h1 {
        font-size: 3rem;
        overflow: hidden;
    }
}

header {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

header.scrolled {
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir semi-transparent */
}


.navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.navbar .nav-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    padding-bottom: 2vh;
    transition: 0.4s ease-in-out;
}
.navbar .nav-link:hover {
    transform: scale(1.1);
}

.network {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 20vw;
}
@media (max-width: 499px) {
    .network {
        width: 100vw;
    }
}

.logo-social-network {
    width: 50px;
}
