#presentation{
    /*background-color: #e6e4e4;*/
}

#name-home{
    font-size: 3.5rem;
    font-weight: 500;
}

#job-home{
    font-weight: 100;
}

.about-me{
    color: #7c7878;
    text-transform: uppercase;
}

.arrow{
    height: 75px;
    border: white 2px solid;
    border-radius: 16px 16px 16px 16px;
}

.arrow-container{
    transition-duration: .3s;
    text-decoration: none;
}

.arrow-container:hover{
    scale: 1.1;
    cursor: pointer;
}
/*#presentation {*/
/*    width: 80vw;*/
/*    margin: auto;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/
/*@media (max-width: 499px) {*/
/*    #presentation {*/
/*        flex-direction: column-reverse;*/
/*    }*/
/*}*/
/*#presentation #presentation--text {*/
/*    width: 70%;*/
/*    margin: auto;*/
/*    padding: 2rem;*/
/*    -webkit-backdrop-filter: blur(8px) brightness(1.2);*/
/*    backdrop-filter: blur(8px) brightness(1.2);*/
/*    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);*/
/*    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
/*    border-radius: 5px;*/
/*}*/

.presentation--text {
    width: 50%;
    margin: auto;
    padding: 2rem;
}

#profil {
    /*background: url('media/Yann-DOUBLET.webp') no-repeat;*/
    /*background-image: url('media/Yann-DOUBLET.webp');*/
    background-size: cover;
    margin-left: 5vw;
    border-radius: 100%;
    min-height: 300px;
    min-width: 300px;
    max-height: 300px;
    max-width: 300px;

    box-shadow: 10px 5px 5px #575757;
    transition: 0.4s ease-in-out;
}
#profil:hover {
    transform: scale(1.1);
}
@media (max-width: 499px) {
    #profil {
        margin: 0 0 5vh;
    }
}

.btn-cv{
    width: 300px;
}